@import 'node_modules/antd/dist/antd.less';
@primary-color: #627c67; // primary color for all components
@link-color: #2a93d5; // link color
@success-color: #6c90a1; // success state color
@font-size-base: 14px; // major text font size
@heading-color: rgba(0, 0, 0, 0.85); // heading text color
@text-color: rgba(0, 0, 0, 0.65); // major text color
@text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
@disabled-color: rgba(0, 0, 0, 0.25); // disable state color
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // major shadow for layers